<div class="footer">
    <div class="pull-right">
        @*@Garcia.Application.Manager.ClickManager.Instance.Urls.Select(x => x.AbsolutePath).Aggregate((x, y) => x + "\n" + y)*@

        @*@foreach (var url in @Garcia.Application.Manager.ClickManager.Instance.Urls)
        {
            <h5>@url</h5>
        }*@
    </div>
    <div>
        <strong>Copyright</strong> Garcia Framework &copy; 2017
    </div>
</div>
