@using Microsoft.AspNet.Identity
@using (Html.BeginForm("LogoutPost", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()

    <ul class="nav navbar-top-links navbar-right">
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@Html.Localize("Logout")</a></li>
    </ul>
    <ul class="nav navbar-top-links navbar-right">
        <li>
            <a data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">@UIStateManager.Instance.Language.Name <span class="caret"></span></a>
            <ul class="dropdown-menu">
                @{
                    List<Language> languages = EntityManager.Instance.GetItems<Language>();

                    foreach (var language in languages)
                    {
                        <li><a href="~/Account/ChangeLanguage?id=@language.Id">@language.Name</a></li>
                    }
                }
            </ul>
        </li>
    </ul>
}