@model Entity

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details</h5>
                </div>
                <div class="ibox-content">
                    @{
                        var name = Model.GetType().Name;
                        foreach (var propertyInfo in EntityManager.GetPropertiesForMvcDetails(Model.GetType()))
                        {
                            object value = propertyInfo.GetValue(Model);

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <h4>@Html.Localize(name + "." + propertyInfo.Name)</h4>
                                    </div>
                                    <div class="col-md-9">
                                        @if (value != null)
                                        {
                                            <span>@value.ToString()</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
